<div>
    <h2>Créer une nouvelle page</h2>

    <form [formGroup]="pageForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Titre:</label>
            <input type="text" id="title" formControlName="title" required>
        </div>

        <div>
            <label for="content">Contenu:</label>
            <textarea id="content" formControlName="content" required></textarea>
        </div>
        <div *ngIf="ajoutReussi" class="success-message">
            L'ajout a réussi !
        </div>
        <div *ngIf="ajoutError" class="error-message">
            L'ajout n'a pas réussi !
        </div>
        <div>
            <button type="submit" [disabled]="!pageForm.valid">Ajouter une nouvelle page</button>
            <button (click)="cancelButton()">Annuler</button>
        </div>
    </form>
</div>