<article *ngIf="book">
    <div class="grid">
        <div>
            <img [src]="book.image" />
        </div>
        <div>
            <label>Titre: {{book.title}}</label>
            <label>Auteur: </label>
            <label>Catégories: </label>
            <ul *ngIf="categoriesLabels$ | async as categories">
                <li *ngFor="let category of categories">{{ category }}</li>
            </ul>
        </div>
    </div>
    <div>
        <button (click)="GoToDetailsBookPage(book.id)">Voir détails</button>
    </div>
</article>