<div>
    <h2>Ajouter un utilisateur</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <article>
            <div>
                <label>Nom: </label>
                <input type="text" formControlName="firstName"/>
            </div>
            <div>
                <label>Prénom: {{user?.lastName}}</label>
                <input type="text" formControlName="lastName"/>
            </div>
            <div>
                <label>Email:</label>
                <input type="email" formControlName="email"/>
            </div>
            <div>
                <label>Mot de passe:</label>
                <input type="password" formControlName="newPassword" />
            </div>
            <div>
                <label>Rôle:</label>
                <input type="radio" formControlName="role" value="user" /> Utilisateur
                <input type="radio" formControlName="role" value="admin" /> Administrateur
            </div>
        </article>
        <button type="submit">Modifier</button>
        <button type="button" (click)="cancelButton()">Annuler</button>
    </form>
</div>