<div>
    <h2>Modifier la catégorie</h2>
    <form [formGroup]="categForm" (ngSubmit)="onSubmit()">
      <article class="grid">
        <div>
          <h3>Informations actuelles:</h3>
          <label>Label: {{ categ?.label }}</label>
        </div>
  
        <div>
          <h3>Modifications:</h3>
          <div>
            <label for="label">Titre:</label>
            <input type="label" formControlName="label" />
          </div>
        </div>
      </article>
      <div *ngIf="modifReussi" class="success-message">
        L'ajout a réussi !
      </div>
      <div *ngIf="erreurAjout" class="error-message">L'ajout a échoué.</div>
      <button type="submit">Mettre à jour</button>
    </form>
    <button (click)="cancelButton()">Annuler</button>
  </div>