<div class="grid">
    <button (click)="GoToPageUpdatePage()">Modifier</button>
    <button (click)="GoToPageDeletePage()">Supprimer</button>
</div>
<div>
    <h2>Informations sur la page:</h2>
    <article>
        <div>
            <label>Titre: {{pageRead?.title}}</label>
            <label>Date de création: {{pageRead?.createdAt | date: 'dd MMMM yyyy'}}</label>
            <label>Dernière mise à jour: {{pageRead?.updatedAt | date: 'dd MMMM yyyy'}}</label>
        </div>
    </article>
    <article>
        <label>Contenu:</label>
        <p>{{pageRead?.content}}</p>
    </article>
</div>
<div>
    <button (click)="cancelButton()">Retour au livre</button>
</div>