<header>
    <nav class="navbar">
        <div class="brand">
            <h1>Biblio'Tech - Angular app</h1>
        </div>
        <ul class="nav-links">
            <li><button (click)="goToHomePage()">Accueil</button></li>
            <li *ngIf="!(isLoggedIn$ | async)">
                <button (click)="goToLoginPage()">Se connecter</button>
            </li>
            <li *ngIf="!(isLoggedIn$ | async)">
                <button (click)="goToSignInPage()">S'inscrire</button>
            </li>
            <li *ngIf="(isLoggedIn$ | async)">
                <div class="profile-dropdown">
                    <button class="profile-btn" (click)="toggleDropdown()">Profil</button>
                    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen }">
                        <p>Bonjour {{ currentUserName$ }} {{ currentUserFirstName$ }}</p>
                        <button (click)="goToUserReadPage()">Voir profil</button>
                        <button *ngIf="(currentUserRole$ | async) === 'admin'" (click)="goToAdminPage()">Admin zone</button>
                        <button (click)="logout()">Se déconnecter</button>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
