<div>
    <h2>Supprimer la catégorie</h2>
    <p>Êtes-vous sûr de vouloir supprimer la catégorie "{{category?.label}} " ?</p>
    <div *ngIf="deleteSuccess" class="success-message">
        La suppression a réussi !
    </div>
    <div *ngIf="deleteError" class="error-message">
        La suppression a échoué.
    </div>
    <div class="grid">
        <button (click)="deleteCateg()" class="delete-button">
            Supprimer définitivement
        </button>
        <button (click)="cancelButton()">Annuler</button>
    </div>
</div>